<div class="card">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <h4 class="card-title pe-3">SSH</h4>
      <h4 class="card-text pe-3">{{connectionInfo.sshUsername}}&#64;{{connectionInfo.ip}}</h4>

      <mat-menu #cardMenu="matMenu" xPosition="before">
        @if (!fullConnectionInfo) {
          <button (click)="onShowSecret()"mat-menu-item>Show secret</button>
        }
        @if (fullConnectionInfo) {
          <button (click)="onHideSecret()"mat-menu-item>Hide secret</button>
        }
        <button (click)="onDelete()" mat-menu-item>Delete</button>
      </mat-menu>
      <button mat-icon-button class="h4-icon-button" [matMenuTriggerFor]="cardMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
    @if (fullConnectionInfo) {
      <div class="space-content">
        @if (fullConnectionInfo.sshPassword) {
          <div class="d-flex">
            <h5 class="pe-2">Password: </h5>
            <input class="flex-fill" type="text" value="{{fullConnectionInfo.sshPassword}}" readonly>
          </div>
        }
        @if (fullConnectionInfo.sshPrivateKey) {
          <div class="d-flex align-items-center">
            <h5 class="pe-2">Private key: </h5>
            <textarea class="flex-fill" value="{{fullConnectionInfo.sshPrivateKey}}" readonly></textarea>
          </div>
        }
        @if (fullConnectionInfo.sshKeyPassphrase) {
          <div class="d-flex">
            <h5 class="pe-2">Key passphrase: </h5>
            <input class="flex-fill" type="text" value="{{fullConnectionInfo.sshKeyPassphrase}}" readonly>
          </div>
        }
      </div>
    }
  </div>
</div>