<div class="container-fluid main-container h-100" [ngSwitch]="dataState">
  <div *ngSwitchCase="dataStateEnum.Available">
    <div class="row">
      <div class="col">
        <h3>{{instance.name}}</h3>
      </div>
      <div class="col-auto">
        <!-- TODO: Implement proper pipeline for image selection -->
        <h4 class="text-end mt-auto">
          <img class="align-top os-image" src="assets/os_images/default_placeholder.png" alt="">
          {{instance.os}}
        </h4>
      </div>
    </div>
    <p>{{instance.description}}</p>
    <div *ngIf="isActive()">
      <h3>Data</h3>
      <!-- Cpu data -->
      <div class="row">
        <div class="col">
          <div class="d-flex">
            <h5 class="pe-1">CPU</h5>
            <app-temperature-icon [degrees]="instanceData.cpuTemp" *ngIf="instanceData.cpuTemp"></app-temperature-icon>
          </div>
        </div>
        <div class="col-auto">
          {{getCpuLoadPercent()}}
        </div>
      </div>
      <div class="progress mx-auto">
        <div class="progress-bar" [ngStyle]="{width: getCpuLoadPercent()}"></div>
      </div>
      <!-- Ram data -->
      <div class="row">
        <div class="col">
          <h5>RAM</h5>
        </div>
        <div class="col-auto">
          {{instanceData.ramLoad / 1024 | number: '1.0-0'}} MB / {{instanceData.maxRam / 1024 | number: '1.0-0'}} MB
        </div>
      </div>
      <div class="progress mx-auto">
        <div class="progress-bar" [ngStyle]="{width: getRamLoadPercent()}"></div>
      </div>
    </div>
    <!-- TODO: Add connection info -->
  </div>

  <div *ngSwitchCase="dataStateEnum.Loading" class="h-100">
    <app-loading-spinner></app-loading-spinner>
  </div>

  <div *ngSwitchCase="dataStateEnum.Failed" class="h-100">
    <app-loading-fail></app-loading-fail>
  </div>
</div>