<div class="container-fluid">
  <div [ngStyle]="{margin: '0 ' + rowMargin / 2 + 'px'}">
    <div class="row mx-auto">
      <div class="col">
        <div class="d-flex">
          <h3>Server list</h3>
          <button mat-icon-button class="h4-icon-button mt-1 ms-2" routerLink="new">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
      <div class="col-auto mt-1">
        <h5>Filter by ▼</h5>
      </div>
    </div>
    <div #itemListRow class="row g-3 mx-auto">
      @for (instance of instances; track instance) {
        <app-instance-card-item [ngClass]="'col-' + 12 / columnNumber"
        [instance]="instance"></app-instance-card-item>
      }
    </div>
  </div>
</div>