<div class="card" [ngClass]="{ offline:!isActive() }">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <h4 class="card-title">{{instance.name}}</h4>
      <!-- TODO: Implement proper pipeline for image selection -->
      <h5 class="text-end mt-auto">
        <img class="align-top os-image" src="assets/os_images/default_placeholder.png" alt="">
        {{instance.os}}
      </h5>
    </div>
    <!-- TODO: Implement intance description -->
    <!-- <p class="card-text">{{instance.description}}</p> -->

    <div class="row" *ngIf="isActive()">
      <div class="col">
        <div class="d-flex justify-content-center gap-1">
          <h5 class="px-1">CPU</h5>
          <app-temperature-icon [degrees]="instanceData.cpuTemp" *ngIf="instanceData.cpuTemp"></app-temperature-icon>
        </div>
        <div class="progress mx-auto">
          <div class="progress-bar" [ngStyle]="{width: getCpuLoadPercent()}"></div>
        </div>

      </div>
      <div class="col text-center">
        <h5>RAM</h5>
        <div class="progress mx-auto">
          <div class="progress-bar" [ngStyle]="{width: getRamLoadPercent()}"></div>
        </div>
      </div>
    </div>
  </div>
</div>